extends layout



block content

  h1 #{title}

  p Math.imul() is applied to #{num1} and #{num2} is #{imul}

  p Math.log() is applied to #{num3} is #{log}

  p Math.log10() is applied to #{num4} is #{log10}